# Dataset directories
/cleaned/
/data/

# CSV files
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# IDE
.vscode/
.idea/